$button-class: ".btn";
$button-selector: "#{$button-class}";
$input-selector: ".inp-box";
$textarea-selector: ".inp-text";
$input-fieldsets-selector: 'input.inp, select.inp, fieldset.inp';
$label-selector: '.label'
