{% extends '_base.twig' %}

{% block content %}
    <div class="ev2">
        Some Hero Slider
    </div>
    <div class="py2"></div>
    <section class="container container-medium container-fixed px2">
        <h1 class="center bold normal mt0 px2">Some Pagetitle</h1>

        <p class="body1">Lorem Ipsum dolor sit amet</p>
    </section>
{% endblock %}
