<div class="overlay-privacy crawler-hide" id="overlay-privacy" data-nosnippet data-delay="5000" data-days-inactive="1" data-disabled="0" style="display: none">
    <div class="overlay-privacy--container">
        <div class="overlay-privacy--content">
            <div class="overlay-privacy--desc">
                <h3>Wir schätzen deine Privatsphäre</h3>
                <p>Wir verwenden Cookies um Kontakt Funktionalitäten zu ermöglichen, Inhalte und Anzeigen zu personalisieren sowie die Zugriffe auf unsere Website zu analysieren.</p>
                <p>
                    <a class="privacy-policy-link" href="{{ getFullLink(links.origin, links.privacy) }}">Datenschutz</a>&nbsp;&nbsp;
                    <button class="btn-raw" onclick="this.parentNode.parentNode.querySelector('.more-info').style.display = this.parentNode.parentNode.querySelector('.more-info').style.display === 'block'?'none':'block'">mehr Informationen</button>
                </p>
                <div class="more-info" style="display: none">
                    <p>Wir geben Informationen zu Ihrer Verwendung unserer Website an unsere Partner für Werbung und Analysen weiter. Unsere Partner führen diese Informationen möglicherweise mit weiteren Daten zusammen, die Sie ihnen bereitgestellt haben oder die sie im Rahmen Ihrer Nutzung der Dienste gesammelt haben.</p>
                    {% include './privacy-details.twig' %}
                </div>
            </div>
            <div class="overlay-privacy--buttons">
                <button class="btn deny" onclick="denyPrivacy()">nur notwendige</button>
                <button class="btn-primary accept" onclick="acceptPrivacy()">akzeptieren</button>
            </div>
        </div>
    </div>
</div>
