<p style="font-weight:bold">Notwendig</p>
<table>
    <tbody>
    <tr>
        <th>Name</th>
        <th>Anbieter</th>
        <th>Zweck</th>
    </tr>
    <tr>
        <td>noTrack</td>
        <td>
            This Org.
        </td>
        <td>Speicherung ob personalisiertes Tracking erlaubt.</td>
    </tr>
    </tbody>
</table>
<p style="font-weight:bold">Statistiken</p>
<table>
    <tbody>
    <tr>
        <th>Name</th>
        <th>Anbieter</th>
        <th>Zweck</th>
    </tr>
    <tr>
        <td>_ga [x4]</td>
        <td>
            <a href="https://policies.google.com/privacy" target="_blank" rel="noreferrer noopener">Cookiebot Google</a>
        </td>
        <td>Registriert eine eindeutige ID, die verwendet wird, um statistische Daten dazu, wie der Besucher die Website nutzt, zu generieren.</td>
    </tr>
    <tr>
        <td>gid [x4]</td>
        <td>
            <a href="https://policies.google.com/privacy" target="_blank" rel="noreferrer noopener">Cookiebot Google</a>
        </td>
        <td>Registriert eine eindeutige ID, die verwendet wird, um statistische Daten dazu, wie der Besucher die Website nutzt, zu generieren.</td>
    </tr>
    <tr>
        <td>collect</td>
        <td>
            <a href="https://policies.google.com/privacy" target="_blank" rel="noreferrer noopener">Google</a>
        </td>
        <td>Wird verwendet, um Daten zu Google Analytics über das Gerät und das Verhalten des Besuchers zu senden. Erfasst den Besucher über Geräte und Marketingkanäle hinweg.</td>
    </tr>
    <tr>
        <td>_gat [x2]</td>
        <td>
            <a href="https://policies.google.com/privacy" target="_blank" rel="noreferrer noopener">Google</a>
        </td>
        <td>Wird von Google Analytics verwendet, um die Anforderungsrate einzuschränken</td>
    </tr>
    </tbody>
</table>
<p style="font-weight:bold">Marketing</p>
<table>
    <tbody>
    <tr>
        <th>Name</th>
        <th>Anbieter</th>
        <th>Zweck</th>
    </tr>

    <tr>
        <td>ads/ga-audiences</td>
        <td>
            <a href="https://policies.google.com/privacy" target="_blank" rel="noreferrer noopener">Google</a>
        </td>
        <td>Used by Google AdWords to re-engage visitors that are likely to convert to customers based on the visitor's online behaviour across websites.</td>
    </tr>
    <tr>
        <td>fr</td>
        <td>
            Facebook
        </td>
        <td>Contains browser and user unique ID combinaton, used for targeted advertising. 90 days valid.</td>
    </tr>
    <tr>
        <td>_fbp</td>
        <td>
            Facebook
        </td>
        <td>Used by Facebook to deliver a series of advertisement products such as real time bidding from third party advertisers 90 days valid.</td>
    </tr>
    </tbody>
</table>
